@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

navbar {
    position:fixed;
    top:0px;
    left:0;
    height:46px;
    width:100vw;
    padding: 0 200px;
    /* rgba(95, 158, 160, 0.3)  */
    background-color:rgba(0, 49, 51, 0.4);
    background: linear-gradient(180deg, rgba(0, 49, 51, 0.4) 94%, rgba(0, 213, 255, 0.7) 100%);
    display:flex;
    align-items: center;
    opacity: 0.09;
    /* opacity: 1; */
    border-radius: 0;
    padding-bottom: 3px;
    animation: showNavbar 1s 2.5s forwards;
}

@keyframes showNavbar {
    30% {opacity: 0.7}
    100% {
        width: 525px;
        border-radius: 0 3px 50px 0;
        opacity: 1
     }
}

.search-container {
    position: absolute;
    left:90px;
    display:flex;
}

.search {
    display:flex;
    align-items: center;
}

.search-description {
    color:rgb(228, 228, 228);
}

input {
    background-color: rgba(240, 240, 240, 0.96);
    height:28px;
    border: 2px solid rgba(57, 96, 97, 0.8);
    border-right: none;
    outline: none;
    padding-left: 2px;
    border-radius: 9px 0 0 9px;
    width:0;
    padding: 14px 1px 14px;
    transition: width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), padding 0.3s;
}
.search.active input {
    width: 160px;   
    padding-left: 12px;
}


.btn {
    font-size: 28px;
    padding: 0 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid rgba(57, 96, 97, 0.8);
    outline: none;
    cursor: pointer;
}

.page-bg {
    background: url('imgs/1-medium.jpg') center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.15s ease-out;
}


.loader {
    text-align: center;
    padding: 40px 0;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    border-radius: 10px;
    border: 3px solid black; 
}

.test {
    height: 300px;
}


/* Media Qeury */
@media screen and (max-width:1000px){
    html{
        font-size: 9px;
    }
}