@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* --------- CSS variables -------- */
:root{
    --circle: 3.4rem;
    --base-color: rgba(73, 92, 117, 1);
    --active-color: rgb(59, 113, 214);
  }

/* --------- General styles -------- */
*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------- Navbar -------- */
navbar {
    position:fixed;
    top:0px;
    left:0;
    height:46px;
    width:100vw;
    padding: 0 200px;
    background-color:rgba(0, 49, 51, 0.4);
    background: linear-gradient(180deg, rgba(0, 49, 51, 0.4) 94%, rgba(0, 213, 255, 0.7) 100%);
    display:flex;
    align-items: center;
    opacity: 0.09;
    border-radius: 0;
    padding-bottom: 3px;
    animation: showNavbar 1s 2.5s forwards;
}

@keyframes showNavbar {
    30% {opacity: 0.7}
    100% {
        width: 525px;
        border-radius: 0 3px 50px 0;
        opacity: 1
     }
}

.search-container {
    position: absolute;
    left:90px;
    display:flex;
}

.search {
    display:flex;
    align-items: center;
}

.search-description {
    color:rgb(228, 228, 228);
}

input {
    background-color: rgba(240, 240, 240, 0.96);
    height:28px;
    border: 2px solid rgba(57, 96, 97, 0.8);
    border-right: none;
    outline: none;
    padding-left: 2px;
    border-radius: 9px 0 0 9px;
    width:0;
    padding: 14px 1px 14px;
    transition: width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), padding 0.3s;
}
.search.active input {
    width: 160px;   
    padding-left: 12px;
}

.search-btn {
    font-size: 28px;
    padding: 0 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 2px solid rgba(57, 96, 97, 0.8);
    outline: none;
    cursor: pointer;
}

/* --------- Blurry Loader -------- */
.page-bg {
    background: url('imgs/1-medium.jpg') center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.15s ease-out;
}

.loader {
    text-align: center;
    padding: 40px 0;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    border-radius: 10px;
    border: 3px solid black; 
}


/* --------- PROGRESS BAR -------- */
.container-progressAndBtns{
    text-align:center;
    visibility: hidden;
    opacity:0;
    transform:translateY(150px);
    animation: appearProgress 0.5s 3.8s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @keyframes appearProgress{
      0% {
        visibility: visible;
        }
      100% {
          visibility: visible;
          opacity:1;
          transform:translateY(0);
      }
  }

  .progress-container {
    padding: 2rem 0;
    width: 48rem;
    display:flex;
    justify-content: space-between;
    position: relative;
  }
  
  .progress-container::after {
    content: "";
    position: absolute;
    background-color: var(--base-color);;
    left:0.1rem;
    top:50%;
    transform: translateY(-50%);
    height:2px;
    width: 98%;
  }
  
  .progress {
    position: absolute;
    background-color: var(--active-color);
    top:50%;
    transform: translateY(-50%);
    left:0.1rem;
    height:4px;
    width: 1%;
    transition: 0.6s width ease-in;
    box-shadow: 5px 5px 2px -1px rgba(0, 15, 32, 0.6);
  }
  
  .circle {
    text-align: center;
    font-size: calc(var(--circle)/2);
    width: var(--circle);
    height: var(--circle);
    border: 2px solid var(--base-color);;
    border-radius: 50%;
    background: rgb(220, 220, 255);
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:5;
    transition: .9s ease 0.2s border;
  }

  .circle.active {
    border-color: cornflowerblue;
    background-color:white;
  }
  
  .btn {
    font-size:1.8rem;
    font-family: inherit;
    letter-spacing: 2px;
    background-color: var(--active-color);
    opacity:0.94;
    color: white;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    border:none;
    outline:none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0px rgba(15, 15, 15, 0.9),
                inset 0 0 0 1px var(--active-color),
                inset 0 0 0 2px rgba(255,255,255,0.2);
    transition: 0.05s transform, box-shadow 0.2s;
  }

  .btn:active:enabled{
    transform: scaleX(0.98);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.849);
  }
  
  .btn:disabled{
    background-color: var(--base-color);
    cursor:not-allowed;
  }
  

/* Media Qeury */
@media screen and (max-width:1000px){
    html{
        font-size: 9px;
    }
}
